version: '3.9'

services:
  app:
    build: .
    container_name: mymemoryproject
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      SERVER_PORT: 8080
    volumes:
      - ./uploads:/app/uploads   # optional
